*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    margin: 0;
}
hr{
    width:10%;
    color:black;
    border-bottom:3px black solid;
    margin:auto;
}
/***************NAVBAR***************/
.nav{
    display: flex;
    background-color:#005b7f; 
    width: 100%;
    height: 7vh;
    overflow: hidden;
}
a{
    text-decoration: none;
    padding: 0 5px 0 5px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.nav-right{
    float: right;
    margin-left:auto;
}

/***************NAVBAR***************/

/***************HOME***************/
.home{
    background-color: #00a651;
    height: 80vh;
    margin: 0;
    position: relative;
    
}
.header{
    margin-left: 28%;
    margin-top:10%; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    
}
h1{ 
    margin-top:0;
    font-size: 100px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
.home h3{    animation: moveinleft 1.5s ;}
.home h1{ animation: moveinRight 1.7s ;}
.home h2{width:70%;animation: moveinleft 1.5s ;}
h3{ margin-left:5px;
    margin-bottom:-30px;
    font-size:30px;
    color:#d7d7d7;
    animation: moveinleft 1s ;
}
h2{
    font-size:30px;
    color:#d7d7d7;
    margin-top:-20px;
    margin-left:5px;

}

/***************HOME***************/

/***************ABOUT***************/
.about{
    height: 80vh;
}
.about h1{
    color: black;
    text-align: center;
    font-size:60px;
   
}

.about-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.photo{
    margin-top:20px;
    width:300px;
    height:350px;
    margin-left:100px;
}
.about-para{  width: 60%;
    font-family: 'Rockwell';
    color:#00a651;
    font-size: 32px;
    margin-right:100px;
}
/***************ABOUT***************/

/***************EDUCATION***************/
.education{
    height:50vh;
    background: #e1e1e1;
    font-family: 'Rockwell';
}
.education h1{
    color: black;
    text-align: center;
    font-size:60px;
}
.education-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:100px;
    width: 80%;
    margin-left: 10%;
}
.education h2{
    color: #00a651;
    margin-left:-5px;
}
.education p{
    color: #4b4545;
    font-weight: 600;
}

/***************EDUCATION***************/

/***************SKILL***************/

.skill{
    height:80vh;
}
.skill h1{
    color: black;
    text-align: center;
    font-size:60px;
}
li{
    color: #00a651;
    font-family: 'Rockwell';
    font-size: 50px;
}
ul{
    margin-left: 100px;
    margin-top: 50px;
}
/***************SKILL***************/

/***************WORK***************/
.work{
    height:60vh;
    background: #e1e1e1;
    font-family: 'Rockwell'
}
.work h1{
    color: black;
    text-align: center;
    font-size:60px;
}
.work-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-left: 10%;
 
}
.work-image{
    width: 200px;
    height: 200px;
    margin-top:-60px;
}
.work p{
    color: #4b4545;
    font-weight: 550;
    margin-left: 40px;
}
.work a:hover{
        transform: scale(1.05);
       
        padding-bottom:10px;
}
/***************WORK***************/

/***************CONTACT***************/

.contact{
    height: 60vh;
}
.contact h1{
    color: black;
    text-align: center;
    font-size:60px;
}
.contact-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    margin-top:150px;
}
.contact-image{
    width: 200px;
    height: 200px;
    margin-top:-120px;
}
.contact a:hover{
    transform: scale(1.05);
   
}
/***************CONTACT***************/

/***************FOOTER***************/

footer {
    background-color:#005b7f; 
    width: 100%;
    height: 7vh;
    overflow: hidden;
    margin:0;
}
footer h1{
    font-size:30px;
    color:white;
    margin-left:20px;
    margin-top:5px;
}


/***************FOOTER***************/

    @keyframes moveinRight{
        0%{
            opacity: 0;
            transform: translateX(-240px);
        }
        80%{
            opacity: 1;
            transform: translateX(40px);
        }
        100%{
            opacity: 1;
            transform: translate(0);
        }
    }
    @keyframes moveinleft{
        0%{
            opacity: 0;
            transform: translateX(240px);
        }
        70%{
            opacity: 1;
            transform: translateX(-40px);
        }
        100%{
            opacity: 1;
            transform: translate(0);
        }
    }
        @media (max-width: 320px)
    {
       body{width:100vh;}
       .home {height:160vh;}
       .home h1{font-size:70px;}
       .home h2{font-size:30px;margin-top:-50px;}
       .header{margin:auto;margin-top:50vh;margin-left:40px;}
       .about-flex{display:block;margin-left:20px;}
       .about-para{margin-left:0px;width:90%;}
       .about{height:150vh;} 
       .education-flex{display:block; margin-left:60px;}
       .education{height:100vh}
       .education div{margin-top:120px}
       .education h2{font-size:40px;text-align:center;} 
       .education p{margin-top:-20px;font-size:25px;text-align:center;} 
       .skill{height:100vh} 
       .skill li{margin-left:-40px;font-size:40px;margin-bottom:15px;}
       .work{height:155vh;}
       .work div{margin-left:80px;margin-bottom:100px;display:grid}
       .work p{margin-top:0}
       .contact img{width:50px;height:50px;}
       .contact{height:50vh}
       .contact-flex{height:0px;}

    }    
