@media only screen and (max-width: 1000px)
    {   body{width:100%;}
        .home{width:100%;}
        .home h2 , h3{font-size:100%;width:70%}
        .home h3{margin-top:100px;margin-bottom:0px;}
        .home h2{margin-top:0px;}
        .home h1{font-size:50px;}
        .header{margin-left:40px;}
        .about-flex{ display:block;}
        .about{height:120vh;}  
        .contact-flex{display:block;}
        .work{height:150vh;}
        .about-para{width:90%;margin-left:30px;margin-top:30px;font-size:30px;}
        .work-image{width:50%;height:50%;}
        .work div{ margin-bottom:80px;}
        .work p{margin-left:85px;}
        .work{height:90vh;}
        .photo{margin-left:56px;}
        .work-flex{display:block;}
        .education{height:70vh;}
        .education-flex{display:block;margin-left:40px;}
        .education div{margin-bottom:50px;text-align:center}
        .skill li{font-size:34px;margin-left:-20px;}
        .nav {width:100%;}
        .skill{height:60vh;}
        .nav a{font-size:12px;margin-right:-20px;}
        .nav-right{margin-left:20px; }
        footer h1{font-size:16px;}
    } 
